* {
    font-family: 'Ubuntu', sans-serif;
}
/* CLASS TOPO DO SITE - > MENU / APRESENTAÇÃO */
.top {
    background-color: #ff5e1e;
}

.menu {
    background-color:#ffda0b;
    font-weight: 500;
    padding: 1rem;
    text-align: center;
}
.menu a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

.apresentation {
    padding: 2rem;
    color: ghostwhite;
}

.apresentation h2 {
    font-size: 2rem;
}

.apresentation p {
    font-size: 1.2rem;
}

/* CLASS CONTEÚDO DO SITE - > TOP 5 / FORMULÁRIO */
.container {
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
    padding: 2rem;
    background-color: #9821e7;
    color:ghostwhite;
}

.container h3 {
    font-size: 2.5rem;
}

.container ol {
    padding-bottom: 3rem;
}

.container li {
    padding-top: 1rem;
}

.container img {
    width: 45rem;
}

.hobbie {
    font-size: 1.8rem;
}

/* CLASS RODAPE DO SITE - > REDES */
.footer {
    text-align: center;
    color: ghostwhite;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    background-color: #ff5e1e;
}

/* IDS TOPO DO SITE - > MENU / APRESENTAÇÃO */
#name {
    text-align: center;
    font-size: 3rem;
    color: ghostwhite;
}

#picture {
    text-align: center;
}

#profile-picture {
    width: 20rem;
    margin: 1rem;
    border-style: solid;
    border-width: 0.5rem;
    border-color: #ffda0b;
}

